.header{
    background-color: #2E1D55;
}

.logoText{
    color: white;
}

.logoWrap{

}

.logo{
width: 115px;
}

.img{
  margin: 0 auto;
  display: block;
}
.logoText{
font-size: 17px;
text-align: center;
}